<ion-view view-title="Quick Stop Pharmacy">
	<ion-content class="padding">
		<div class="list">			
			<a class="item item-icon-left" ui-sref="map">
				<i class="icon ion-location"></i>
				7210 20th Avenue Brooklyn<br />NY 11204 USA
			</a>
			<a class="item item-icon-left" href="tel:718-256-3400">
				<i class="icon ion-ios-telephone"></i>
				718-256-3400
			</a>
			<a class="item item-icon-left" href="mailto:QuickStopPharmacy7210@gmail.com">
				<i class="icon ion-email"></i>
				QuickStopPharmacy7210@gmail.com
			</a>	
			<a class="item item-icon-left" href="http://quickstoppharmacy.org/">
				<i class="icon ion-ios-world"></i>
				http://quickstoppharmacy.org/
			</a>
		</div>
	</ion-content>
</ion-view>