<ion-view view-title="Quick Stop Pharmacy">
	<ion-content style="margin-bottom:50px">	
		<span class="banner"><img src="img/banner.jpg" /></span>
		<div class="padding">
			<p>At <strong>Quick Stop Pharmacy</strong> our mission is to redefine what your expectations should be from your neighbourhood drug store. Once you enter our drug store, you will experience the highest level of services through unique access to our highly trained pharmacists, advisory and customer care specialists. We strive to be the leader in customer service and speciality discounts. We pride ourselves on conducting business with the highest regard for moral and ethical principles without sacrificing legal conduct.</p>		
			<hr />		
			<a class="button button-float" ui-sref="facebook"><i class="icon ion-social-facebook"></i></a>
			<a class="button button-float" href="http://quickstoppharmacy.org/"><i class="icon ion-link"></i></a>
			<a class="button button-float button-black" href="mailto:QuickStopPharmacy7210@gmail.com"><i class="icon ion-ios-email-outline"></i></a>
			<a class="button button-float button-black" ui-sref="map"><i class="icon ion-location"></i></a>				
			<hr />			
			<div class="card">
			  <div class="item item-divider">
				<span class="icon ion-ios-clock-outline"></span> Office Hours
			  </div>
			  <div class="item item-text-wrap">
				<p>Mon-Thu: 09:30 AM - 06:30 PM<br />
				Fri: 09:30 AM - 05:00 PM<br />
				Sat: Close<br />
				Sun: 10:00 AM - 03:00 PM</p>
			  </div>		  
			</div>		
		</div>
	</ion-content>
</ion-view>