<ion-view view-title="Quick Stop Pharmacy">
	<ion-content style="margin-bottom:50px">	
		<div class="list">
			<a class="item item-icon-left" ui-sref="home">
				<i class="icon ion-information-circled"></i>
				About Us
			</a>
			<a class="item item-icon-left" ui-sref="refill">
				<i class="icon ion-loop"></i>
				Refill					
			</a>
			<a class="item item-icon-left" ui-sref="facebook">
				<i class="icon ion-social-facebook"></i>
				Facebook		
			</a>
			<a class="item item-icon-left" ui-sref="instagram">
				<i class="icon ion-social-instagram"></i>
				Instagram
			</a>
			<a class="item item-icon-left" ui-sref="twitter">
				<i class="icon ion-social-twitter"></i>
				Twitter
			</a>
			<a class="item item-icon-left" ui-sref="loyalty">
				<i class="icon ion-ribbon-b"></i>
				Loyalty Card
			</a>
			<a class="item item-icon-left" ui-sref="coupons">
				<i class="icon ion-cash"></i>
				Coupons
			</a>
			<a class="item item-icon-left" ui-sref="map">
				<i class="icon ion-ios-location"></i>
				Map
			</a>
			<a class="item item-icon-left" ui-sref="contactus">
				<i class="icon ion-social-whatsapp"></i>
				Contact Us
			</a>
			<a class="item item-icon-left" href="tel:718-256-3400">
				<i class="icon ion-ios-telephone"></i>
				Click-to-call
			</a>					
		</div>
	</ion-content>
</ion-view>