<ion-view view-title="Quick Stop Pharmacy">
  <ion-content class="padding" ng-controller="RefillCtrl">
	<form ng-submit="submit()">
		<div class="row">
			<div class="col">
			  <label class="item item-input large">
				 <input type="text" placeholder="Name" ng-model="Name">
			  </label>
			</div>
		  </div>			  
		  <div class="row">
			<div class="col">
			  <label class="item item-input large">
				<input type="text" placeholder="Email" ng-model="Email">
			  </label>
			</div>
		  </div>
		  <div class="row">
			<div class="col">
			  <label class="item item-input large">
				 <input type="text" placeholder="Phone" ng-model="Phone">	
			  </label>
			</div>
		  </div>
		  <div class="row">
			<div class="col">
			  <label class="item item-input large">
				<input type="text" placeholder="RX Number" ng-model="RX_Number">	
			  </label>
			</div>
		  </div>
		  <div class="row">
			<div class="col">
			  <label class="item item-input large">
				<input type="text" placeholder="RX Number" ng-model="RX_Number_2">	
			  </label>
			</div>
		  </div>
		   <div class="row">
			<div class="col">
			  <label class="item item-input large">
				<input type="text" placeholder="RX Number" ng-model="RX_Number_3">	
			  </label>
			</div>
		  </div>
		   <div class="row">
			<div class="col">
			  <label class="item item-input large">
				<input type="text" placeholder="RX Number" ng-model="RX_Number_4">	
			  </label>
			</div>
		  </div>
		  <button class="button button-block button-positive">Submit</button>
		</div>	  		  		  		  		  		  
	</form>
  </ion-content>
</ion-view>