/* Empty. Add your own CSS if you like */
.banner{	
	display:block;
	width:100%	
}

.banner img{
	width:100%;
	height:250px;
}

@media screen and (max-width: 500px) {
	.banner img{
		height:100%
	}
}

#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

.padding{
	margin-bottom:50px!important;
}

.button-float {	
	background: #3B5998 !important;
	color: white !important;   
	border-radius: 50% !important;	
	border:0;
}

.button-black{
	background: #000 !important;
}